
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-item {
  list-style-type: none;
  margin-left: 20px;
  margin-right: 20px;
}

.header-item:hover {
  border-bottom: solid 2px white;
}

.header-link {
  text-decoration: none;
  color: white;
}

.header-button {
  padding: 12px;
  background-color: #EC7F00;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.header-button:hover {
  opacity: 75%;
}

.header-button:active {
  background-color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
